body {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #434455;
}


.list {
    list-style: none;
}


.link {
    text-decoration: none;
}


:root {

}

/* *!------- header ------------*/


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;   
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #4D5AE5;
}
.logo-studio{
    color: #2E2F42;
}


.logo:hover,
.logo:focus {
    color: #404BBF
}


.btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.btn:hover,
.btn:focus {
    color: #404BBF;
}


.header-address {
    font-style: normal;
}


.btn-link {
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #434455;
}


.btn-link:hover,
.btn-link:focus {
    color: #404BBF;
}



/* *!------- section#1 ------------*/


.section-hero {
    background: #2E2F42;
}


.section-hero-heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-hero-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    background: #4D5AE5;
    color: #FFFFFF;

}

.section-one-btn:hover,
.section-one-btn:focus {
    background: #404BBF;
    color: #FFFFFF;
}

/* *!------- section#2 ------------*/


.section-two-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.section-two-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}


/* *!------- section#3 ------------*/


.section-three-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}


/* *!------- section#4 ------------*/
.section-four{
    background: #F4F4FD;
}


.section-four-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;

}
.section-four-list{
    background:#FFFFFF;
}


.section-four-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.section-four-text {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

}


/* *!------- footer ------------*/


.section-footer {
    background: #2E2F42;
}

.logo-studio-footer{
    color: #F4F4FD;
}


.section-footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}


/* *!------- portfolio ------------*/


.btn-portfolio {
    font-family: 'Roboto', sans-serif;
    ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: #F4F4FD;
    color: #4D5AE5;
}


.btn-portfolio:hover,
.btn-portfolio:focus {
    background: #404BBF;
    color: #FFFFFF;}


.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}